body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn {
  float: left;
  width: 100%;
}

.rightcolumn {
  float: left;
  width: 80%;
  padding-left: 20px;
}

.img {
  background-color: white;
  width: 80%;
  padding: 20px;
}

.card {
  text-align: initial;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }